footer {
  width: 100%;
  background-color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
  color: var(--color-dark);
  position: relative;
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 20px;
}

.contact-wrap,
.developer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-info-title {
  font-size: 1.5em;
  font-weight: bolder;
  margin-right: 20px;
}

.contact-header,
.developer-header {
  padding-right: 20px;
  border-right: 1.2px solid #C2BCB3;
}

.contact-content,
.developer-content {
  padding-left: 20px;
  margin: 0;
  font-size: 0.95em;
  text-align: left;
}

.developer-content a {
  text-decoration: none;
  color: var(--color-dark);
  transition: color 0.2s ease;
}

footer .copyright {
  margin: 50px auto 0;
  color: #8a8989;
}
